body {
    background-color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  
  .menu-header{
    background-color: rgb(38, 65, 35);
    color: white;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .botao-menu {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
  }

  #introducao {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .textos {
    flex: 1;
    padding: 20px;
  }


  .infos-footer {
    margin: 1;
  }

  .plataformas {
    margin: 10px;
  }

  footer {
    background-color: rgb(38, 65, 35);
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  ;